<head>
<style>

body {
  text-align:center;
}
ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 10px solid #e7e7e7;
  background-color: #f3f3f3;
}


li {
    display: inline-block;
}

li a {
  display:block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #f0babafd;
}

p {
    margin: 20px 150px 0;
}
.word {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: center;
    color:#666;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color:lightcoral;
}

.body1 {
    background-repeat: no-repeat;
    background-image: url(images/flower.jpeg);
    background-position: bottom right;
    background-size: 200px;
  }
</style>
</head>